{% extends "template.html" %}
{% block content %}
<h2>Welcome! You are now logged in.</h2>
<a href='/logout'>Logout</a>
<br />
<br />
<h3>Sensor Data - Region 1:</h3>
	<h4>Name Value   Unit</h4>
{% for item in agro %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 469px">
<colgroup>
<col style="width: 162px">
<col style="width: 145px">
<col style="width: 162px">
</colgroup>
  <tr>
    <th class="tg-031e">Name</th>
    <th class="tg-031e">Value</th>
    <th class="tg-031e">Unit</th>
  </tr>
  <tr>
    <td class="tg-031e">{{ item.Name }}</td>
    <td class="tg-031e">{{ item.Value }}</td>
    <td class="tg-031e">{{ item.Unit}}</td>
  </tr>
</table>

{% endfor %}

{% endblock %}
<br />
<br />
<br />
<br />
<br />







